In [24]:
import pandas as pd
import re

In [7]:
whatsapp_data = pd.read_csv("cleaned nirma chat.csv",parse_dates = True,index_col = 0)

In [8]:
whatsapp_data

,Message,Sender,datetime
0,Add others members too if you have anyone in ...,Abhisek,2020-09-08 11:55:00
1,Mari pase koi no contact number nthi bhai,Aditya,2020-09-08 11:55:00
2,Okay,Abhisek,2020-09-08 11:56:00
3,Let's see if anyone else has ut,Aditya,2020-09-08 11:56:00
4,It*,Aditya,2020-09-08 11:56:00
...,...,...,...
26920,"Krushit, Vidit and abhishek are pending for i...",Vatsal Shah,2021-06-10 12:54:00
26921,yes,Krushit Sheth,2021-06-10 12:54:00
26922,For *TECHNICOLOR*,Abhi Thakkar,2021-06-11 13:34:00
26923,"Add ur contact numbers too , incase they are ...",Aditya,2021-06-11 13:47:00
26924,Ok,Vishakha,2021-06-11 13:48:00

## part 2 EDA

1. Number of messages send by each users

In [10]:
message_per_user = whatsapp_data["Sender"].value_counts()
print("Name\t\tno of message")
print(message_per_user)

Name		no of message
 Aditya             3815
 Vimal              3688
 Krushit Sheth      3038
 Vishakha           2901
 Dhwani             2820
 Abhisek            2510
 Shubhangi          2161
 Jainil Patel       1561
 Jaynil Patel       1059
 Rutva               942
 Dhrumil             743
 Vidit               463
 Kalgi               451
 Abhi Thakkar        227
 Shailesh            194
 Riya Shah           176
 Vatsal Shah         116
 Parth Sinha          35
 +91 87580 44627      15
 +91 74350 45603       7
 +91 82383 34297       3
Name: Sender, dtype: int64

Aditya is most active person on group

2. Time elasped from first message

In [11]:
from datetime import datetime
now = datetime.now()
first_message = datetime.fromisoformat(whatsapp_data.loc[0,"datetime"])

Time_elasped = now - first_message

print(Time_elasped)

276 days, 7:38:46.222990

3. 5 most active days

In [12]:
#Adding a date column temporary for opeartion from datetime for operation
def date_col(date):
    date = datetime.fromisoformat(date)
    return date.date()
whatsapp_data["date"] = whatsapp_data.apply(lambda row: date_col(row["datetime"]),axis = 1)
whatsapp_data

,Message,Sender,datetime,date
0,Add others members too if you have anyone in ...,Abhisek,2020-09-08 11:55:00,2020-09-08
1,Mari pase koi no contact number nthi bhai,Aditya,2020-09-08 11:55:00,2020-09-08
2,Okay,Abhisek,2020-09-08 11:56:00,2020-09-08
3,Let's see if anyone else has ut,Aditya,2020-09-08 11:56:00,2020-09-08
4,It*,Aditya,2020-09-08 11:56:00,2020-09-08
...,...,...,...,...
26920,"Krushit, Vidit and abhishek are pending for i...",Vatsal Shah,2021-06-10 12:54:00,2021-06-10
26921,yes,Krushit Sheth,2021-06-10 12:54:00,2021-06-10
26922,For *TECHNICOLOR*,Abhi Thakkar,2021-06-11 13:34:00,2021-06-11
26923,"Add ur contact numbers too , incase they are ...",Aditya,2021-06-11 13:47:00,2021-06-11
26924,Ok,Vishakha,2021-06-11 13:48:00,2021-06-11

In [14]:
message_day = whatsapp_data.groupby("date").count()
message_day["Message"].sort_values(ascending = False)[:5]

date
2020-12-09    1232
2020-12-08     664
2021-01-20     663
2020-12-16     638
2020-12-15     592
Name: Message, dtype: int64

4. Least 5 active day

In [16]:
message_day["Message"].sort_values(ascending = True)[:5]

date
2020-09-11    1
2021-02-24    1
2021-05-31    1
2021-02-27    1
2021-02-18    2
Name: Message, dtype: int64

this were predeveloped group days

5. Most active hour

In [17]:
def date_col(date):
    date = datetime.fromisoformat(date)
    return date.hour
whatsapp_data["hour"] = whatsapp_data.apply(lambda row: date_col(row["datetime"]),axis = 1)
whatsapp_data

,Message,Sender,datetime,date,hour
0,Add others members too if you have anyone in ...,Abhisek,2020-09-08 11:55:00,2020-09-08,11
1,Mari pase koi no contact number nthi bhai,Aditya,2020-09-08 11:55:00,2020-09-08,11
2,Okay,Abhisek,2020-09-08 11:56:00,2020-09-08,11
3,Let's see if anyone else has ut,Aditya,2020-09-08 11:56:00,2020-09-08,11
4,It*,Aditya,2020-09-08 11:56:00,2020-09-08,11
...,...,...,...,...,...
26920,"Krushit, Vidit and abhishek are pending for i...",Vatsal Shah,2021-06-10 12:54:00,2021-06-10,12
26921,yes,Krushit Sheth,2021-06-10 12:54:00,2021-06-10,12
26922,For *TECHNICOLOR*,Abhi Thakkar,2021-06-11 13:34:00,2021-06-11,13
26923,"Add ur contact numbers too , incase they are ...",Aditya,2021-06-11 13:47:00,2021-06-11,13
26924,Ok,Vishakha,2021-06-11 13:48:00,2021-06-11,13

In [18]:
message_day = whatsapp_data.groupby("hour").count()
message_day["Message"].sort_values(ascending = False)[:5]

hour
15    4218
11    3526
14    3140
12    2953
16    2172
Name: Message, dtype: int64

6. Who deletes most message

In [21]:
message_deleted = whatsapp_data[whatsapp_data["Message"]==" This message was deleted"].groupby("Sender").count()

message_deleted.sort_values(by = "Message",ascending=False)["Message"]

Sender
 Jaynil Patel     28
 Aditya           20
 Krushit Sheth    16
 Shubhangi        11
 Jainil Patel     10
 Vimal             9
 Dhwani            8
 Vishakha          7
 Dhrumil           4
 Rutva             3
 Kalgi             1
 Parth Sinha       1
 Vatsal Shah       1
 Vidit             1
Name: Message, dtype: int64

7. who sends most videos/photo

In [22]:
media_message = whatsapp_data[whatsapp_data["Message"]==" <Media omitted>"].groupby("Sender").count()
media_message.sort_values(by = "Message",ascending=False)["Message"]

Sender
 Jaynil Patel     140
 Krushit Sheth    137
 Jainil Patel     101
 Vimal            101
 Aditya            85
 Abhisek           84
 Dhrumil           66
 Shubhangi         61
 Rutva             54
 Dhwani            27
 Vatsal Shah       16
 Vishakha          16
 Shailesh          12
 Vidit              5
 Kalgi              5
 Abhi Thakkar       3
 Riya Shah          1
Name: Message, dtype: int64

8. who sends most link

In [25]:
def link(string):
    pattern = re.compile(r"http\S+")
    #print(type(string))
    if pattern.findall(string):
        return True
    else:
        return False
whatsapp_data["link"] = whatsapp_data.apply(lambda row:link(row["Message"]),axis = 1)
link_message = whatsapp_data[whatsapp_data["link"]==True].groupby("Sender").count()
link_message.sort_values(by = "Message",ascending=False)["Message"]

Sender
 Aditya           70
 Krushit Sheth    47
 Jainil Patel     47
 Jaynil Patel     35
 Vimal            31
 Abhisek          30
 Shubhangi        14
 Dhrumil           9
 Vatsal Shah       7
 Vishakha          7
 Rutva             6
 Shailesh          5
 Vidit             5
 Abhi Thakkar      2
 Riya Shah         1
 Kalgi             1
 Dhwani            1
Name: Message, dtype: int64

9. Average length of message send by each user

In [26]:
def length_of_message(string):
    #considering 1 word as one 1
    word = string.split(" ")
    return len(word)
whatsapp_data["length_message"] = whatsapp_data.apply(lambda row:length_of_message(row["Message"]),axis = 1)
#whatsapp_data

In [27]:
avg_length_message = whatsapp_data[["length_message","Sender"]].groupby("Sender").mean()
avg_length_message.sort_values(by = "length_message",ascending=False)["length_message"]

Sender
 +91 74350 45603    10.142857
 Jainil Patel        9.679693
 +91 87580 44627     7.800000
 Krushit Sheth       7.472021
 Vimal               7.148590
 Abhi Thakkar        6.832599
 Vatsal Shah         6.663793
 Jaynil Patel        6.081209
 Aditya              6.024902
 Dhwani              6.005319
 Abhisek             5.507570
 Dhrumil             5.489906
 Shailesh            5.319588
 Parth Sinha         5.257143
 Vidit               5.209503
 Kalgi               4.977827
 Rutva               4.880042
 Riya Shah           4.494318
 Shubhangi           4.484035
 Vishakha            4.409859
 +91 82383 34297     3.666667
Name: length_message, dtype: float64

10. people who send first message in the morning most often

In [29]:
sender_count = {}
date_checked = []
for i in range(1,len(whatsapp_data)):
    date = whatsapp_data.loc[i,"date"]
    sender = whatsapp_data.loc[i,"Sender"]
    hour = whatsapp_data.loc[i,"hour"]
    if date not in date_checked and hour>=6:
        date_checked.append(date)
        if sender not in sender_count:
            sender_count[sender] = 1
        else:
            sender_count[sender] +=1
print(sender_count)

{' Aditya': 22, ' Abhisek': 25, ' Krushit Sheth': 55, ' Vimal': 56, ' Jaynil Patel': 14, ' +91 87580 44627': 1, ' Jainil Patel': 14, ' Shailesh': 4, ' Dhrumil': 11, ' Vishakha': 10, ' Riya Shah': 2, ' Vidit': 3, ' Kalgi': 3, ' Shubhangi': 5, ' Dhwani': 9, ' Vatsal Shah': 7, ' Rutva': 1, ' Abhi Thakkar': 1}

converting dictionary to series

In [30]:
sender_count_message = pd.Series(sender_count)
sender_count_message.sort_values(ascending = False)

 Vimal              56
 Krushit Sheth      55
 Abhisek            25
 Aditya             22
 Jainil Patel       14
 Jaynil Patel       14
 Dhrumil            11
 Vishakha           10
 Dhwani              9
 Vatsal Shah         7
 Shubhangi           5
 Shailesh            4
 Vidit               3
 Kalgi               3
 Riya Shah           2
 Rutva               1
 +91 87580 44627     1
 Abhi Thakkar        1
dtype: int64

Krushit and vimal are our morning person

11. Most active hour in history of group

combining datetime and hour column for doing this

In [31]:
# https://www.programiz.com/python-programming/datetime/strftime
def date_col_new(date,hour):
    return date.strftime("%m/%d/%Y") +" " +str(hour)
whatsapp_data["date_time_new"] = whatsapp_data.apply(lambda row: date_col_new(row["date"],row["hour"]),axis = 1)
whatsapp_data

,Message,Sender,datetime,date,hour,link,length_message,date_time_new
0,Add others members too if you have anyone in ...,Abhisek,2020-09-08 11:55:00,2020-09-08,11,False,11,09/08/2020 11
1,Mari pase koi no contact number nthi bhai,Aditya,2020-09-08 11:55:00,2020-09-08,11,False,9,09/08/2020 11
2,Okay,Abhisek,2020-09-08 11:56:00,2020-09-08,11,False,2,09/08/2020 11
3,Let's see if anyone else has ut,Aditya,2020-09-08 11:56:00,2020-09-08,11,False,8,09/08/2020 11
4,It*,Aditya,2020-09-08 11:56:00,2020-09-08,11,False,2,09/08/2020 11
...,...,...,...,...,...,...,...,...
26920,"Krushit, Vidit and abhishek are pending for i...",Vatsal Shah,2021-06-10 12:54:00,2021-06-10,12,False,10,06/10/2021 12
26921,yes,Krushit Sheth,2021-06-10 12:54:00,2021-06-10,12,False,2,06/10/2021 12
26922,For *TECHNICOLOR*,Abhi Thakkar,2021-06-11 13:34:00,2021-06-11,13,False,4,06/11/2021 13
26923,"Add ur contact numbers too , incase they are ...",Aditya,2021-06-11 13:47:00,2021-06-11,13,False,13,06/11/2021 13
26924,Ok,Vishakha,2021-06-11 13:48:00,2021-06-11,13,False,2,06/11/2021 13

In [32]:
whatsapp_data

,Message,Sender,datetime,date,hour,link,length_message,date_time_new
0,Add others members too if you have anyone in ...,Abhisek,2020-09-08 11:55:00,2020-09-08,11,False,11,09/08/2020 11
1,Mari pase koi no contact number nthi bhai,Aditya,2020-09-08 11:55:00,2020-09-08,11,False,9,09/08/2020 11
2,Okay,Abhisek,2020-09-08 11:56:00,2020-09-08,11,False,2,09/08/2020 11
3,Let's see if anyone else has ut,Aditya,2020-09-08 11:56:00,2020-09-08,11,False,8,09/08/2020 11
4,It*,Aditya,2020-09-08 11:56:00,2020-09-08,11,False,2,09/08/2020 11
...,...,...,...,...,...,...,...,...
26920,"Krushit, Vidit and abhishek are pending for i...",Vatsal Shah,2021-06-10 12:54:00,2021-06-10,12,False,10,06/10/2021 12
26921,yes,Krushit Sheth,2021-06-10 12:54:00,2021-06-10,12,False,2,06/10/2021 12
26922,For *TECHNICOLOR*,Abhi Thakkar,2021-06-11 13:34:00,2021-06-11,13,False,4,06/11/2021 13
26923,"Add ur contact numbers too , incase they are ...",Aditya,2021-06-11 13:47:00,2021-06-11,13,False,13,06/11/2021 13
26924,Ok,Vishakha,2021-06-11 13:48:00,2021-06-11,13,False,2,06/11/2021 13

In [33]:
active_hour = whatsapp_data.groupby("date_time_new").count()
active_hour.sort_values(by = "datetime",ascending=False)["datetime"][:5]

date_time_new
12/09/2020 15    585
12/08/2020 15    477
12/15/2020 15    335
12/01/2020 15    257
12/09/2020 14    251
Name: datetime, dtype: int64

1. Most active hour was the hour of the result of cta ct exam
2. just see how bore we are at 3 in noon no matter whose lecture it is